@import '../../mixins.scss';

.posts__div{
    letter-spacing: 0;


    .post{
      margin-bottom: 1rem;
      background-color: rgb(255, 255, 255);
      padding: 1rem;
      border-radius: 7px;
      border: 1px solid rgb(209, 200, 200);
      overflow: hidden;
      
      .post__top{
        position: relative;
        box-sizing: content-box;
        
        overflow: hidden;
          width: 100%;
          display: flex;
          align-items: center;
          gap: 9px;
          svg{
            right: 3px;
            box-sizing: content-box;
              // background-color: #655d5d;
              position: absolute;
            }
            // justify-content: space-between;
            .left{
                display: flex;
                align-items: center;
                gap: 5px;
                font-size: 12px;
                img{
                    width: 48px;
                    height: 48px;
                    border-radius: 50%;
                }
                span{
                  font-size: 12px;
                  color: rgb(0 0 0/.6);
                  
                }
              }
              .detail{
                flex:1;
                p{
                  font-size: .9rem;
                    font-weight: 600;
                }
                .time{
                  font-size: .76rem;
                  color: rgba(0,0,0,.6);

                }
                span{
                  display: block;
                  font-size: .82rem;
                  color: rgba(0,0,0,.6);
                  display: block;
                  max-width: 330px;
                  white-space: nowrap;
                  overflow: hidden !important;
                  text-overflow: ellipsis;
                  padding-right: 3rem;
                }
            }
            svg{
                cursor: pointer;
            }
        }
        
        .mid{
          margin-top: 1rem;
            .head{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .desc{
                    img{
                        width: 48px;
                        border-radius: 50%;
                    }
                    display: flex;
                    gap: 1rem;
                    span{
                        color: rgb(0 0 0/.6);
                        font-size: small;
                    }
                    .three{
                        display: flex;
                        align-items: center;
                        gap: 4px;
                    }
                    
                }
                .plus{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    gap: .3rem;
                    font-weight: bolder;
                    font-size: 1rem;
                    color: rgb(26, 66, 175);
                    svg{
                        font-size: larger;
                    }
                }

            }

            .tags{
                color: rgb(95, 89, 89);
                font-size: .8rem;
                
              }

              
              .desc{
                color: rgb(0 0 0/.9);
                font-size: .9rem;
                pre{
                  white-space: pre-wrap;       /* Since CSS 2.1 */
                  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
                  white-space: -pre-wrap;      /* Opera 4-6 */
                  white-space: -o-pre-wrap;    /* Opera 7 */
                  word-wrap: break-word;       /* Internet Explorer 5.5+ */
                  font-weight: lighter;
                  font-family:Arial, Helvetica, sans-serif;
                  word-wrap: break-word;

                }
                
            }


            
            img{
                display: block;
                margin: 1rem 0;
                width: 100%;
                max-width: auto;
                text-align: center;
            }
            .intract{
                display: flex;
                justify-content: space-between;
                font-size: .8rem;
                color: rgb(0 0 0/.6);
                .right{
                    display: flex;
                    gap: 1rem;
                }
                .left{
                    display: flex;
                    align-items: center;
                    gap: 7px;
                }
            }
            

        }

        .bottom{
            .items{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: space-between;
                .item{
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    color: rgb(0 0 0/.6);
                    font-weight: bold;
                    gap: 5px;
                    padding: 14px 6px;
                    border-radius: 5px;
                    svg{
                        font-size: 20px;
                        font-size: 1rem;
                        @include sm{
                          display: none;
                        }
                    }
                    span{
                        display: block;
                        font-size: 1rem;
                        @include sm{
                          display: none;
                        }
                    }
                    &:hover{
                      background-color: #ebebeb;
                      cursor: pointer;
                  }
                }
            }
        }
    }


}

// ring loader
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin:0 auto;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #756c6c;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #756c6c transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }


//   cubic loader

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
  }
  .lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #655d5d;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }
  .lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
  }
  .lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
  }
  .lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
  }
  @keyframes lds-facebook {
    0% {
      top: 8px;
      height: 64px;
    }
    50%, 100% {
      top: 24px;
      height: 32px;
    }
  }
  