@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.profileViewsWrapper{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
.profileViewLeft{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .header{
        font-weight: bold;
    }

    span{
        color: rgba(0,0,0,.7);font-size: 14px;
    }
    ul{

        margin-top: 1rem;
        li{
            svg{
                color: rgb(46, 45, 45);
                cursor: pointer;
            }

            .viewTop{
                display: flex;
                gap:1rem;
                align-items: center;
                img{
                    width: 50px;
                }
            }
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

        }
    }
}
}