.resumeModal__div {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0 0 0/.6);
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    
    z-index: 10;

    .modal__center {
        border-radius: 7px;
        position: relative;
        width: 85vw;
        max-width: 750px;
        height: 60vh;
        background-color: white;

        .modal__content {
            button{
                border: none;
                background-color: #e3e7ec;
                cursor: pointer;
            }

            display: flex;
            flex-direction: column;

            // .content__top {
            //     padding: 1.3rem 4rem;
            //     display: flex;
            //     gap: 1rem;

            //     .content__top__right {
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: center;

            //         span {
            //             font-weight: 600;
            //             font-size: large;
            //         }

            //         p {
            //             font-weight: 100;
            //             font-size: .9rem;
            //         }


            //     }

            //     img {
            //         width: 56px;
            //         height: 56px;
            //         border-radius: 50%;
            //     }

            // }


            form {
                // flex: 1;
                padding: 1rem;
                width: 100%;
                input{
                    margin-top: 6px;
                }
                p{
                    background-color: #dde7f1;
                    margin:10px  -1rem 0;
                    padding: 1rem;
                }

                .text {
                    // background-color: rgb(250, 248, 248);
                    display: block;
                    width: 100%;
                    padding: 2px 5px;
                    flex: 1;
                    resize: none;
  



                }


                textarea {
                    // background-color: #0a66c2;
                    box-sizing: content-box;
                    // height: 100%;
                    overflow: initial;
                    margin-top: 6px;
                    max-width: 98%;
   
                }

                img {
                    // background-color: #064a8e;
                    // display: none;
                    bottom: 0;
                    width: 55%;
                    object-fit: contain;
                    right: 1rem;
                    top: 10rem;
                    display: block;
                    margin: auto;
                    position: absolute;

                }

                .file {
                    width: 100%;
                    display: inline-block;
                    padding: 6px 12px;
                    cursor: pointer;
                    position: relative;
                    margin-top: 3rem;

                    .resumeUpload{
                        color: #064a8e;
                        position: absolute;
                        top: 20%;
                        margin-left: 2rem;
                    
                        text-align: center;
                        width: 80%;
                        padding: 10px;
                        font-weight: bold;
                        border:2px solid #064a8e;
                    }


                    img {
                        width: 300px;
                        max-height: 300px;
                        position: absolute;
                        z-index: 1;
                        top: 110px;
                        left: 12px;
                        border: none;
                        background: none;
                        cursor: pointer;

                        svg {
                            z-index: 1;
                        }
                    }
                }

                input[type="file" i] {

                    text-align: center;
                    opacity: 10;
                    cursor: pointer;
                    position: relative;
                    top: 0;
                    left: 0;
                    z-index: 20;
                    width: 100%;
                    min-height: 100px;
                    display: grid;
                    place-items: center;
                    padding-top: 4rem;
                    padding-left: 33%;
                    // background-color: #0a66c2;
                    // height: 25px;


                }

                .close {
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    top: 1rem;
                    cursor: pointer;
                    right: 1.3rem;
                    margin-bottom: -10px !important;
                    box-sizing: content-box;
                    svg{
                        font-size: large;
                    }

                }

                .post__btn {
                    background-color: #0a66c2;
                    padding: 0.6rem 1.2rem;
                    border: none;
                    font-weight: bold;
                    color: white;
                    cursor: pointer;
                    position: absolute;
                    bottom: 10px;
                    right: 2rem;
                    border-radius: 10rem;

                    // margin: auto;
                    &:hover {

                        background-color: #064a8e;
                    }

                }

                .disable__btn {
                    position: absolute;
                    bottom: 10px;
                    background-color: rgb(220, 219, 219);
                    padding: 0.6rem 1.2rem;
                    border: none;
                    color: rgb(141, 139, 139);
                    font-weight: bold;
                    right: 2rem;
                    border-radius: 10rem;


                }
            }
        }
    }


}