.page__style{
    max-width: 1200px;
    width: 100%;
    margin: 1.3rem auto;
    padding: 0 30px;
}


.box__style{
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: .8rem;
    padding: 10px 1rem;
    
}